#include "solutions.hpp"

#include <fstream>

namespace aoc_{{YEAR}}_{{DAY}} {

std::string solvePart1(const std::string& filename)
{
    (void)filename;
    return "";
}

std::string solvePart2(const std::string& filename)
{
    (void)filename;
    return "";
}

} // namespace aoc_{{YEAR}}_{{DAY}}
