#include "solutions.hpp"

#include <fstream>

namespace aoc_{{YEAR}}_{{DAY}} {

#pragma region Private_Methods



#pragma endregion Private_Methods

#pragma region Public_Methods

std::string solvePart1(const std::string& filename)
{
    (void)filename;
    return "";
}

std::string solvePart2(const std::string& filename)
{
    (void)filename;
    return "";
}

#pragma endregion Public_Methods

} // namespace aoc_{{YEAR}}_{{DAY}}
