#include "solutions.hpp"

#include <fstream>

namespace aoc_{{YEAR}}_{{DAY}} {

// ---------- Private Methods ----------

// ---------- End of Private Methods ----------

// ---------- Public Methods ----------

std::string solvePart1(const std::string& filename)
{
    (void)filename;
    return "";
}

std::string solvePart2(const std::string& filename)
{
    (void)filename;
    return "";
}

// ---------- End of Public Methods ----------

} // namespace aoc_{{YEAR}}_{{DAY}}
