---
Checks: "\
-*,\
readability-identifier-naming,\
clang-diagnostic-*,\
clang-analyzer-*,\
modernize-*,\
readability-*,\
portability-*,\
performance-*,\
misc-*,\
bugprone-*,\
cppcoreguidelines-*,\
clang-analyzer-*,\
objc-*,\
-modernize-use-trailing-return-type,\
-modernize-avoid-c-arrays,\
-readability-named-parameter,\
-readability-qualified-auto,\
-cppcoreguidelines-pro-type-vararg,\
"
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - { key: readability-identifier-naming.ClassCase,                 value: CamelCase }
  - { key: readability-identifier-naming.LocalConstantCase,         value: camelBack }
  - { key: readability-identifier-naming.VariableCase,              value: camelBack }
  - { key: readability-identifier-naming.FunctionCase,              value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,             value: camelBack }
  - { key: readability-identifier-length.MinimumParameterNameLength,value: 1 }
  - { key: readability-identifier-length.MinimumVariableNameLength, value: 1 }
